.ft-contact {
  background: black;

  .ft-container {
    padding: 50px 0;
  }

  &-container {
    background: black;


    h2 {
      text-align: center;
      padding-bottom: 25px;
    }

    &-inner {
      width: 50%;
      margin: 0 auto;
      color: white;
    }

    button.btn {
      margin-top: 25px;
      border-radius: 0;
    }

    label {
      font-weight: bold;
    }
  }
}
[data-style="fractal"] {
  .ft-contact {
    .ft-container {
      min-height: calc(100vh - 165px);
    }
  }
}

[data-style="absolve"] {
  .ft-contact {
    background: white;

    .ft-container {
      min-height: calc(100vh - 230px);
    }

    &-container {
      background: white;

      h2 {
        font-size: 32px;
        color: $headline-color;
        font-weight: bold;
      }

      &-inner {
        color: black;
      }

      button.btn {
        background: rgb(0, 96, 100);
        border-color: rgb(0, 96, 100);
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .ft-contact {
    &-container {
      &-inner {
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .ft-contact {
    &-container {
      &-inner {
        width: 90%;
      }
    }
  }
}

@media only screen and (max-height: 900px) {
  .ft-contact {

    .ft-container {
      padding: 25px 0;
      // min-height: calc(100vh - 180px);
    }

    &-container-inner {
      padding: 0;
    }

    &-message {
      textarea {
        height: 4em !important;
      }
    }

    h2 {
      padding-bottom: 0;
    }

    button {
      margin-top: 5px;
    }
  }
}

@media only screen and (max-height: 700px) {
  .ft-contact {
    label {
      margin-bottom: 0;
    }
  }
}