.ft-contact {
  background: black;

  h2 {
    text-align: center;
    padding-bottom: 25px;
  }

  &-container-inner {
    width: 50%;
    margin: 0 auto;
    color: white;
  }

  button {
    margin-top: 25px;
  }
}


[data-style="absolve"] {
  .ft-contact {
    background: white;

    &-container-inner {
      color: black;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .ft-contact {
    &-container-inner {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .ft-contact {
    &-container-inner {
      width: 90%;
    }
  }
}