$black: #282e34;
.ft-header {
  height: 65px;
  width: 100%;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;

  .logo {
    height: 100%;
    padding: 13px 20px;
    background-color: $black;
    z-index: 1;

    img {
      height: 100%;
      padding-left: 10px;
      width: auto;
    }
  }

  .menu {
    &-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: flex-end;
      background-color: $black;
      transition: background-color 0.15s;
    }

    &-icon {
      float: right;
      margin: 0 25px;
      opacity: 0;
      visibility: visible;
      transition: opacity 0.25s, visibility 0.25s;

      img {
        padding: 0;
      }
    }

    &-item {
      color: rgba(white, .5);
      text-transform: uppercase;
      position: relative;
      width: 200px;
      font-size: 14px;
      background-color: $black;
      height: 65px;
      transition: background-color 0.15s, width 0.15s, height 0.25s;

      &-dropdown {
        cursor: default;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        &[data-active] {
          background-color: rgba(0, 0, 0, .1);
        }
      }

      a {
        color: rgba(white, .5);;
        transition: color 0.25s;
        text-transform: uppercase;
        padding: 0 25px;
        font-size: 14px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        height: inherit;
        letter-spacing: 0.05em;

        &:hover {
          text-decoration: none;
          background-color: rgba(0, 0, 0, .1);
          color: white;
        }
      }

      &:hover {
        color: white;
      }
    }
  }

  .sub-menu {
    &-list {
      position: absolute;
      left: 0;
      margin: 0;
      padding: 0;
      list-style-type: none;
      min-width: 100%;
      background-color: $black;
      top: 0;
      opacity: 0;
      visibility: hidden;
      transition: top 0.25s, opacity 0.25s, visibility 0.25s;

      &[data-active] {
        top: 65px;
        opacity: 1;
        visibility: visible;
      }
    }

    &-item {
      a {
        text-transform: capitalize;
        justify-content: start;
        padding: 10px 25px;

        &:hover {
          background-color: rgba(0, 0, 0, .1);
        }
      }
    }
  }
}

$blue: #016064;
$light-blue: #0d696e;
[data-style="absolve"] {
  .ft-header {
    background-color: $blue;

    .logo {
      background-color: $blue;
    }

    .menu {
      &-icon {
        background-color: rgba(white, .1);
        border: none !important;
        box-shadow: none;

        &:hover, &:active {
          background-color: rgba(white, .05) !important;
          border: none !important;
        }

        &:focus {
          border: none !important;
        }
      }
    
      &-list {
        background-color: $light-blue;
      }

      &-item {
        background-color: $blue;

        &-dropdown {
  
          &[data-active] {
            background-color: rgba(0, 0, 0, .1);
          }
        }
      }
    }

    .sub-menu {
      &-list {
        background-color: $light-blue;
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .ft-header {
    flex-direction: column;

    .menu {
      &-icon {
        opacity: 1;
        visibility: visible;
      }

      &-list {
        position: absolute;
        justify-content: flex-end;
        background-color: #2e343a;
        visibility: hidden;
        top: -65px;
        opacity: 0;
        width: 100%;
        transition: visibility 0.25s, top 0.25s, opacity 0.25s;

        &[data-show] {
          visibility: visible;
          top: 65px;
          opacity: 1;
        }
      }

      &-item {
        background-color: #2e343a;
        height: 50px;
      }
    }

    .sub-menu {
      &-list {
        &[data-active] {
          top: 50px;
        }
      }
    }
  }

  [data-style="absolve"] {
    .ft-header {  
      .menu {
        &-item {
          background-color: $light-blue;
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .ft-header {
    .menu {
      &-item {
        width: 150px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .ft-header {
    .menu {
      &-list {
        flex-direction: column;
      }
      &-item {
        width: 100%;
        justify-content: flex-end;

        &[data-active] {
          height: inherit;
        }

        a {
          justify-content: flex-start;
          padding-left: 50px;
          height: 65px !important;
        }
      }
    }

    .sub-menu {
      &-list {
        position: initial;
        padding: 0;
      }
    }
  }
}
