.home-content {
  min-height: calc(100vh - 365px);
  display: flex;
  align-items: center;

  &-title {
    text-align: center;
    font-size: 40px;
    padding-bottom: 15px;
  }

  &-image {
    text-align: center;
    margin-bottom: 25px;

    img {
      width: 110px;
    }
  }

  &-body {
    margin: 25px auto;
    font-size: 18px;
  }
}

[data-style="fractal"] {
  .ft-home-content {
    &[data-anchor="working-with-us"] {
      .ft-container {
        padding: 50px 0;
      }
    }
  }
}

[data-style="absolve"] {
  .home-content {
    &-title {
      text-align: center;
      font-size: 32px;
      color: rgb(0, 82, 80);
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .home-content {
    &-body {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .home-content {
    &-body {
      width: 100%;
    }
  }
}
