.ft-background {
  position: relative;

  &-image {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-item {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      transform: translateZ(0);
      will-change: transform;
    }
  }

  &-caption {
    position: absolute;
    color: #000;
    width: 100%;
    height: 100%;

    &-inner {
      position: absolute;
      background-color: rgba(black, 0.8);
      width: 50%;
      padding: 25px;
      left: 20%;
      bottom: 10%;
      margin-left: -17.5%;
      color: white;
      display: flex;
      align-items: center;
    }

    &-body {
      display: flex;
    }

    &-image {
      padding-right: 50px;

      img {
        width: 100px;
      }
    }

    &-link {
      color: white;
      font-size: 24px;

      &:hover {
        color: white;
      }
    }
  }
}

$orange: rgb(255, 192, 0);

[data-style="absolve"] {
  .ft-background {
    &-caption {
      &-inner {
        background-color: transparent;
        width: 65%;
        margin: auto;
        padding: 0 25px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }

      &-body {
        height: calc(100% - 20vh);
        justify-content: space-between;
      }

      h3 {
        color: $orange;
        font-size: 42px;
        // padding-bottom: 25px;
        margin-bottom: 0;
        font-weight: 600;
      }

      p {
        font-size: 26px;
        // padding-bottom: 25px;
        margin-bottom: 0;
        font-weight: 600;
        line-height: 1.5em;
      }

      &-link {
        color: $orange;

        &::after {
          border-left-color: $orange;
        }

        &:hover {
          color: $orange;
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .ft-background {
    &-caption {
      &-inner {
        width: 80%;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }
    }
  }

  [data-style="absolve"] {
    .ft-background {
      &-caption {
        &-inner {
          width: 90%;
        }

        h3 {
          font-size: 32px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  [data-style="absolve"] {
    .ft-background {
      &-caption {
        &-body {
          // iPad
          // @media only screen and (max-height: 1024px) {
          //   height: calc(100% - 300px);
          // }

          // @media only screen and (max-height: 900px) {
          //   height: calc(100% - 200px);
          // }

          // @media only screen and (max-height: 800px) {
          //   height: calc(100% - 150px);
          // }
        }

        h3 {
          // padding-bottom: 15px;
          font-size: 30px;
        }

        p {
          font-size: 20px;
        }

        &-image {
          padding-right: 0;
          // padding-bottom: 25px;

          img {
            width: 90px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 512px) {
  [data-style="absolve"] {
    .ft-background {
      &-caption {
        &-inner {
          padding: 0 15px;
        }

        &-body {
          // iphone X
          // @media only screen and (min-height: 737px) {
          //   height: calc(100% - 250px);
          // }

          // // iphone 6/7/8 plus
          // @media only screen and (max-height: 736px) {
          //   height: calc(100% - 200px);
          // }

          // // iphone 6/7/8
          // @media only screen and (max-height: 667px) {
          //   height: calc(100% - 150px);
          // }

          // // iphone 5
          // @media only screen and (max-height: 568px) {
          //   height: calc(100% - 50px);
          // }
        }

        h3 {
          font-size: 24px;
          font-weight: 600;
          // padding-bottom: 5vh;
        }

        p {
          font-size: 16px;
          font-weight: normal;
          // padding-bottom: 5vh;
        }

        a {
          font-size: 16px;
        }
      }

      &-image {
        padding-right: 0;
        // padding-bottom: 5vh;

        img {
          width: 90px;
        }
      }

      &.home-separator {
        display: none;
      }
    }
  }
}

@media only screen and (max-height: 800px) and (min-width: 513px) {
  [data-style="absolve"] {
    .ft-background {
      &-caption {
        &-inner {
          // padding: 0;
        }

        &-image {
          // padding-bottom: 25px;
        }

        h3 {
          // padding-bottom: 5px;
          // font-size: 36px;
        }

        p {
          // padding-bottom: 0;
          font-size: 24px;
        }
      }
    }
  }
}
