.ft-background {
  position: relative;

  &-caption {
    position: absolute;
    color: #000;
    width: 100%;
    height: 100%;

    &-inner {
      position: absolute;
      background-color: rgba(black, 0.8);
      width: 50%;
      padding: 25px;
      left: 20%;
      bottom: 10%;
      margin-left: -17.5%;
      color: white;
      display: flex;
      align-items: center;
    }

    &-body {
      display: flex;
    }

    &-image {
      padding-right: 50px;

      img {
        width: 150px;
      }
    }

    &-link {
      color: white;
      font-size: 22px;

      &:hover {
        color: white;
      }
    }
  }
}

$orange: rgb(255, 192, 0);

[data-style="absolve"] {
  .ft-background {
    &-caption {
      &-inner {
        background-color: transparent;
        width: 65%;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }

      &-image {
        padding-bottom: 50px;

        img {
          width: 110px;
        }
      }

      &-content {
        h3 {
          color: $orange;
          font-size: 42px;
          padding-bottom: 25px;
          font-weight: 600;
        }

        p {
          font-size: 26px;
          padding-bottom: 25px;
          font-weight: 600;
          line-height: 1.5em;
        }
      }

      &-link {
        color: $orange;

        &::after {
          border-left-color: $orange;
        }

        &:hover {
          color: $orange;
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .ft-background {
    &-caption {
      &-inner {
        width: 80%;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }
    }
  }

  [data-style="absolve"] {
    .ft-background {
      &-caption {
        &-inner {
          width: 90%;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  [data-style="absolve"] {
    .ft-background {
      &-caption {
        &-body {
          display: block;

          h3 {
            padding-bottom: 15px;
            font-size: 30px;
          }

          p {
            font-size: 20px;
          }
        }

        &-image {
          padding-right: 0;
          padding-bottom: 25px;

          img {
            width: 120px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 512px) {
  [data-style="absolve"] {
    .ft-background {
      &-caption {

        &-inner {
          padding: 0 15px;
        }

        &-body {
          display: block;


        }

        &-content {
          h3 {
            font-size: 24px;
            font-weight: normal;
            padding-bottom: 5vh;
          }

          p {
            font-size: 16px;
            font-weight: normal;
            padding-bottom: 8vh;
          }

          a {
            font-size: 16px;
          }
        }

        &-image {
          padding-right: 0;
          padding-bottom: 7vh;

          img {
            width: 90px;
          }
        }
      }

      &.home-separator {
        display: none;
      }
    }
  }
}

@media only screen and (max-height: 800px) and (min-width: 513px) {
  [data-style="absolve"] {
    .ft-background {
      &-caption {
        &-inner {
          // padding: 0;
        }

        &-image {
          padding-bottom: 25px;
        }

        &-content {
          h3 {
            padding-bottom: 5px;
            // font-size: 36px;
          }

          p {
            padding-bottom: 0;
            font-size: 24px;
          }
        }
      }
    }
  }
}
