{{#if @caption}}
  <div class="view-background-caption">
    <div class="view-background-caption-inner">
      <h3>{{@caption.title}}</h3>
      <p>{{@caption.content}}</p>
    </div>
  </div>
{{/if}}