.ember-application {

  .ft-team-list {
    h2 {
      text-align: center;
      font-size: 24px;
      color: $headline-color;
      font-weight: bold;
      padding-bottom: 15px;
      padding-left: 100px;
    }
    .nav {
      &-tabs {
        border: none;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
      }

      &-link {
        border-radius: 8px;
        border: 2px solid #3c7fa2;
        color: #3c7fa2;
        transition: color 0.15s, background 0.15s, border 0.15s;
        margin: 0 5px;
        padding: 0.3rem 0.4rem;
        width: 120px;
        text-align: center;
        font-weight: bold;
        font-size: 14px;

        &-label {
          background: none !important;
          border: none !important;
          color: #777 !important;
          font-weight: bold;
          text-align: right ;
          font-size: 20px;
          width: 100px;

          &.active,
          &:hover {
            border: none;
          }

          &.active {
            color: #3c7fa2 !important;
          }
        }

        &:hover,
        &.active {
          border: 2px solid #3c7fa2;
          background: #3c7fa2;
          color: white;
        }
      }
    }

    .tab-pane {
      margin-left: auto;
      margin-right: auto;
    }

    .tab-content {
      margin-top: 50px;
    }

    #team-group-pane-0,
    #team-group-pane-1 {
      max-width: 550px;
    }

    #team-group-pane-2,
    #team-group-pane-3 {
      max-width: 850px;
    }
  }

  [data-style="fractal"] {
    .ft-team-list {
      #team-group-pane-2 {
        .team-bio:nth-child(2),
        .team-bio:nth-child(3) {
          .team-bio-title {
            min-height: 44px;
          }
        }
      }

      #team-group-pane-3 {
        .team-bio:nth-child(2),
        .team-bio:nth-child(3),
        .team-bio:nth-child(4),
        .team-bio:nth-child(6) {
          .team-bio-title {
            min-height: 44px;
          }
        }
      }
    }
  }

  [data-style="absolve"] {
    .ft-team-list {
      .nav {
        &-link {
          border: 2px solid rgb(198, 105, 0);
          color: #444;
  
          &-label {
            &.active {
              color: $headline-color !important;
            }
          }
  
          &:hover,
          &.active {
            border: 2px solid rgb(198, 105, 0);
            background: orange;
            color: white;
          }
        }
      }

      #team-group-pane-2 {
        .team-bio:nth-child(2),
        .team-bio:nth-child(3) {
          .team-bio-title {
            min-height: 44px;
          }
        }
      }

      #team-group-pane-3 {
        .team-bio:nth-child(2),
        .team-bio:nth-child(3),
        .team-bio:nth-child(4) {
          .team-bio-title {
            min-height: 44px;
          }
        }
      }

    }
  }
}

@media only screen and (max-width: 768px) {
  .ft-team-list {
    .nav {
      &-tabs {
        flex-direction: column;
        align-items: center;
      }

      &-item {
        margin-bottom: 10px;
      }
    }
    .tab-title-row {
      width: 100%;
    }
    .tab-title-row-list {
      display: flex;
    }
  }
}
