.ember-application {
  .ft-team-list {
    &-tabs {
      display: block;
    }

    &-collapse {
      display: none;
    }

    h2 {
      text-align: center;
      font-size: 24px;
      color: $headline-color;
      font-weight: bold;
      padding-bottom: 15px;
      padding-left: 100px;
    }

    .nav {
      &-tabs {
        border: none;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
      }

      &-link {
        border-radius: 8px;
        border: 2px solid #3c7fa2;
        color: #3c7fa2;
        transition: color 0.15s, background 0.15s, border 0.15s;
        margin: 0 5px;
        padding: 0.3rem 0.4rem;
        width: 120px;
        text-align: center;
        font-weight: bold;
        font-size: 14px;

        &-label {
          background: none !important;
          border: none !important;
          color: #777 !important;
          font-weight: bold;
          text-align: right;
          font-size: 20px;
          width: 100px;

          &.active,
          &:hover {
            border: none;
          }

          &.active {
            color: #3c7fa2 !important;
          }
        }

        &:hover,
        &.active {
          border: 2px solid #3c7fa2;
          background: #3c7fa2;
          color: white;
        }
      }
    }

    .tab-pane {
      margin-left: auto;
      margin-right: auto;
    }

    .tab-content {
      margin-top: 50px;
    }

    #team-group-pane-0,
    #team-group-pane-1 {
      max-width: 550px;
    }

    #team-group-pane-2,
    #team-group-pane-3 {
      max-width: 850px;
    }
  }

  [data-style="fractal"] {
    .ft-team-list {
      #team-group-pane-2 {
        .team-bio:nth-child(2),
        .team-bio:nth-child(3) {
          .team-bio-title {
            min-height: 44px;
          }
        }
      }

      #team-group-pane-3 {
        .team-bio:nth-child(2),
        .team-bio:nth-child(3),
        .team-bio:nth-child(4),
        .team-bio:nth-child(6) {
          .team-bio-title {
            min-height: 44px;
          }
        }
      }
    }
  }

  [data-style="absolve"] {
    .ft-team-list {
      .nav {
        &-link {
          border: 2px solid rgb(198, 105, 0);
          color: #444;

          &-label {
            &.active {
              color: $headline-color !important;
            }
          }

          &:hover,
          &.active {
            border: 2px solid rgb(198, 105, 0);
            background: orange;
            color: white;
          }
        }
      }

      #team-group-pane-2 {
        .team-bio:nth-child(2),
        .team-bio:nth-child(3) {
          .team-bio-title {
            min-height: 44px;
          }
        }
      }

      #team-group-pane-3 {
        .team-bio:nth-child(2),
        .team-bio:nth-child(3),
        .team-bio:nth-child(4) {
          .team-bio-title {
            min-height: 44px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .ember-application {
    [data-style="absolve"] {
      .ft-team-list {
        #team-group-pane-2 {
          .team-bio:nth-child(2) {
            .team-bio-title {
              min-height: 66px;
            }
          }

          .team-bio:nth-child(3) {
            .team-bio-title {
              min-height: 40px;
            }
          }
        }

        #team-group-pane-3 {
          .team-bio:nth-child(4) {
            .team-bio-title {
              min-height: 66px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .ember-application {
    [data-style="absolve"] {
      .ft-team-list {
        #team-group-pane-2 {
          .team-bio:nth-child(2) {
            .team-bio-title {
              min-height: initial;
            }
          }

          .team-bio:nth-child(3) {
            .team-bio-title {
              min-height: initial;
            }
          }
        }

        #team-group-pane-3 {
          .team-bio:nth-child(3),
          .team-bio:nth-child(4) {
            .team-bio-title {
              min-height: initial;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 512px) {
  .ember-application {
    .ft-team-list {
      h2 {
        padding-left: 0;
      }

      &-tabs {
        display: none;
      }

      &-collapse {
        display: block;

        &-group {
          text-align: center;
        }
      }

      &-group-name {
        padding: 0;
        border: 0;
        background: none;
        color: #f0803c;
        position: relative;
        outline: none;
        font-size: 24px;

        &:hover {
          text-decoration: underline;
        }

        &::after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          right: -20px;
          margin: auto;
          border-style: solid;
          border-width: 10px 7px 0 7px;
          border-color: #f0803c transparent transparent transparent;
          transition: border 0.25s;
        }

        &[data-expand]::after {
          border-width: 0 7px 10px 7px;
          border-color: transparent transparent #f0803c transparent;
        }
      }
    }
  }
}
