.home-columns {
  //margin-bottom: 100px;

  .container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 65px);
  }

  [data-mobile] {
    display: none;
  }

  &-headline {
    text-align: center;
    font-size: 32px;
  }

  &-subheadline {
    text-align: center;
    color: grey;
    font-size: 18px;
  }

  &-content {
    text-align: center;

    &-list {
      margin: 35px 0 0 0;
    }

    &-title {
      font-size: 23px;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    &-img {
      margin: 0 auto;
      height: 125px;
      width: 125px;
    }

    &-body {
      padding: 0 25px;
      color: #666;
      font-size: 16px;
      text-align: left;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .home-columns {
    &-content {
      max-width: 100%;
      flex: 0 0 100%;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 512px) {
  .home-columns {
    [data-desktop] {
      display: none;
    }

    [data-mobile] {
      display: block;
      position: relative;
    }

    &-headline {
      font-size: 24px;
    }

    &-content {
      margin-bottom: 25px;

      &-list {
        margin-top: 15px;
      }

      &-body {
        text-align: left;

        &[data-mobile] {
          display: none;
        }
        &[data-expand] {
          display: block;
        }
      }

      &-title {
        cursor: pointer;
        font-size: 18px;

        &::after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          margin-left: 5px;
          border-style: solid;
          border-width: 10px 7px 0 7px;
          border-color: black transparent transparent transparent;
          transition: border 0.25s;
        }

        &[data-expand]::after {
          border-width: 0 7px 10px 7px;
          border-color: transparent transparent black transparent;
        }
      }

      &-img {
        width: 80px;
        height: 80px;
      }
    }
  }
}
